﻿@page "/categories"
@using ConfigurallWeb.Managers
@inject IJSRuntime JSRuntime
@using Configurall.Connector
@using Newtonsoft.Json
@using ConfigurallWeb.Data
@using MatBlazor
@using ConfigurallWeb.Classes
@using Newtonsoft.Json.Linq
@using System.Linq

<EditForm EditContext="@editContext">
    <h1>Categories</h1>
    <div>
        <MatTable Items="@CategoryOptions" class="mat-elevation-z5" PageSize="20">
            <MatTableHeader>
                <th>Category names</th>
            </MatTableHeader>
            <MatTableRow Context="row">                
                <td>@row</td>
            </MatTableRow>
        </MatTable>
    </div>
    <h2>New category</h2>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <ConfigurallWeb.Components.TextInput Name="New category" PlaceHolder="New category name" @bind-Value="@Category" />
            </div>
        </div>
    </div>
    <footer>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    <MatButton Raised="true" @onclick="Save">Send</MatButton>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    <label>@InfoBarText</label>
                </div>
            </div>
        </div>
    </footer>
</EditForm>

@code {
    EditContext editContext = new EditContext(new List<string> { });

    [Parameter]
    public string InfoBarText { get; set; }
    #region Category

    private string CategoryName { get; set; }

    [Parameter]
    public IEnumerable<string> CategoryOptions { get; set; }

    [Parameter]
    public string Category
    {
        get { return CategoryName; }
        set
        {
            CategoryName = value;
        }
    }
    #endregion

    protected async override Task OnInitializedAsync()
    {
        CategoryOptions = await Config.GetCategories();
        editContext = new EditContext(CategoryOptions);
    }

    public async Task Save()
    {
        var res = await Config.SetGroupCategory(CategoryName);

        if (res)
        {
            CategoryOptions = CategoryOptions.Append(CategoryName);
            InfoBarText = $"{DateTime.Now.ToString()} Data saved";
        }
        else
            InfoBarText = $"{DateTime.Now.ToString()} Error saving data";
    }
}
