﻿@page "/entitycatalogs"
@using ConfigurallWeb.Managers
@using ConfEntityCatalog = Configurall.Connector.EntityCatalog
@using ConfEntity = Configurall.Connector.Entity
@using Configurall.Shared.DTOs
@inject IJSRuntime JSRuntime
@using Newtonsoft.Json
@using ConfigurallWeb.Data
@using MatBlazor
@using ConfigurallWeb.Classes
@using Newtonsoft.Json.Linq
@using System.Linq

<EditForm EditContext="@editContext">
    <h1>Entity catalogs</h1>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <ConfigurallWeb.Controls.EntityNS EntityList="@EntityOptions" @bind-EntityNamespace="@EntityNS" @bind-Entity="@EntityValue" />
        </div>
    </div>
    <div>
        @if (filteredEntityCatalogs != null && filteredEntityCatalogs.Count() > 0)
        {
            <MatTable Items="@filteredEntityCatalogs" class="mat-elevation-z5" PageSize="20">
                <MatTableHeader>
                    <th>Entity</th>
                    <th>Property</th>
                    <th>Catalog</th>
                    <th>Path</th>
                    <th>Actions</th>
                </MatTableHeader>
                <MatTableRow Context="row">
                    <td>@row.Entity</td>
                    <td>@row.EntityProperty</td>
                    <td>@row.Catalog</td>
                    <td>@row.JsonPath</td>
                    <td><button @onclick="@(async () => DeleteRow(row))">Delete</button></td>
                </MatTableRow>
            </MatTable>
        }
    </div>
    <footer>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    <label>@InfoBarText</label>
                </div>
            </div>
        </div>
    </footer>
</EditForm>

@code {
    EditContext editContext = new EditContext(new List<string> { });

    [Parameter]
    public string InfoBarText { get; set; }

    #region Entity

    IEnumerable<EntityCatalogDTO> entityCatalogs = new EntityCatalogDTO[0] { };

    IEnumerable<EntityCatalogDTO> filteredEntityCatalogs = new EntityCatalogDTO[0] { };

    string EntityNS { get; set; }

    IEnumerable<EntityDTO> EntityOptions = new EntityDTO[0] { };

    string entityValue { get; set; }

    [Parameter]
    public string EntityValue {
        get { return entityValue; }
        set {
            filteredEntityCatalogs = entityCatalogs.Where(ec => ec.Entity == $"{EntityNS}.{value}");
            entityValue = value;
        }
    }

    #endregion

    protected async override Task OnInitializedAsync()
    {
        var entities = await ConfEntity.GetAll();

        entityCatalogs = await ConfEntityCatalog.Get();

        EntityOptions = entities.Where(e => entityCatalogs.Select(ec => ec.Entity).Contains(e.Name));

        editContext = new EditContext(EntityOptions);
    }

    public async void DeleteRow(EntityCatalogDTO entityCatalog)
    {
        var res = await ConfEntityCatalog.Delete(new DeleteEntityCatalogDTO
        {
            Entity = entityCatalog.Entity,
            EntityProperty = entityCatalog.EntityProperty,
            Catalog = entityCatalog.Catalog
        });
        if (res)
        {
            InfoBarText = $"{DateTime.Now.ToString()} Entity catalog deleted";
        }
        else
            InfoBarText = $"{DateTime.Now.ToString()} Error deleting data";
    }
}
