﻿@page "/entities"
@inject IJSRuntime JSRuntime
@using MatBlazor
@using System.Linq
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ConfigurallWeb.Managers
@using ConfigurallWeb.Classes
@using ConfigurallWeb.Data
@using ConfigurallWeb.Components.Classes
@using Configurall.Shared.DTOs
@using ConfEntityCatalog = Configurall.Connector.EntityCatalog
@using ConfEntity = Configurall.Connector.Entity

<EditForm EditContext="@editContext">
    <h1>Entities</h1>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <ConfigurallWeb.Components.SelectC Name="Select namespace" Options="@EntityNSOptions" @bind-Value="@EntityNs" />
            </div>
        </div>
    </div>
    <div>
        @if (EntityRows != null && EntityRows.Count()>0)
        {
            <MatTable Items="@EntityRows" class="mat-elevation-z5" PageSize="20">
                <MatTableHeader>
                    <th>Name</th>
                    <th>Inherits</th>
                    <th>Schema</th>
                </MatTableHeader>
                <MatTableRow Context="row">
                    <td>@row.Name.Replace($"{EntityNs}.", string.Empty)</td>
                    <td>@Formatters.StringListToString(row.Inherits).Replace($"{EntityNs}.", string.Empty)</td>
                    <td>@row.Schema</td>
                </MatTableRow>
            </MatTable>
        }
    </div>
    <h2>Add new entity</h2>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <ConfigurallWeb.Components.TextInput Name="NewEntity" PlaceHolder="New entity name" @bind-Value="@EntityName" />
            </div>
            <ConfigurallWeb.Controls.EntityNS EntityNSControlName="Inherits entity NS" EntityControlName="Inherits entity"
                                              EntityList="@EntityOptions" @bind-EntityNamespace="@EntityInheritsNS" @bind-Entity="@EntityInherits" />
        </div>
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <ConfigurallWeb.Components.TextInput Name="EntitySchema" PlaceHolder="Entity schema" @bind-Value="@EntitySchema" />
            </div>
        </div>
    </div>
    <footer>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    <MatButton Raised="true" @onclick="Save">Send</MatButton>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    <label>@InfoBarText</label>
                </div>
            </div>
        </div>
    </footer>
</EditForm>

@code {
    EditContext editContext = new EditContext(new List<Option> { });
    IEnumerable<EntityDTO> EntityRows = new EntityDTO[0] { };

    [Parameter]
    public string InfoBarText { get; set; }

    #region Entity NS

    [Parameter]
    public Dictionary<string, string> EntityNSOptions { get; set; }

    IEnumerable<EntityDTO> EntityOptions = new EntityDTO[0] { };

    private string EntityNameSpace { get; set; }

    [Parameter]
    public string EntityNs
    {
        get { return EntityNameSpace; }
        set
        {
            EntityNameSpace = value;
            EntityRows = EntityOptions.Where(e => e.Name.Substring(0, e.Name.LastIndexOf(".")) == value);
        }
    }
    #endregion

    #region Entity

    string EntityName { get; set; }
    string EntityInherits { get; set; }
    string EntityInheritsNS { get; set; }
    string EntitySchema { get; set; }

    #endregion

    protected async override Task OnInitializedAsync()
    {
        await LoadEntities();
        editContext = new EditContext(EntityNSOptions);
    }

    private async Task LoadEntities()
    {
        EntityOptions = await ConfEntity.GetAll();

        EntityNSOptions = EntityOptions
        .Select(e => e.Name.Substring(0, e.Name.LastIndexOf(".")))
        .Distinct()
        .ToDictionary(e => e, v => v);
    }

    public async void Save()
    {
        var res = await ConfEntity.Set($"{EntityNameSpace}.{EntityName}", EntitySchema,
            $"{EntityInheritsNS}.{EntityInherits}");

        if (res)
        {
            InfoBarText = $"{DateTime.Now.ToString()} Data saved";
            await LoadEntities();
        }
        else
            InfoBarText = $"{DateTime.Now.ToString()} Error saving data";
    }

}
