﻿@page "/groups"
@inject IJSRuntime JSRuntime
@using MatBlazor
@using System.Linq
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using ConfigurallWeb.Managers
@using ConfigurallWeb.Data
@using ConfigurallWeb.Classes
@using Configurall.Shared.DTOs
@using ConfigGroup = Configurall.Connector.Group
@using ConfigCon = Configurall.Connector.Config

<EditForm EditContext="@editContext">
    <h1>Groups</h1>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <ConfigurallWeb.Components.Select Name="Select category" @bind-Value="@Category" Options="@CategoryOptions" />
            </div>
        </div>
    </div>
    <div>
        @if (GroupList != null)
        {
        <MatTable Items="@GroupList" class="mat-elevation-z5" PageSize="20">
            <MatTableHeader>
                <th>Name</th>
                <th>Inherits</th>
            </MatTableHeader>
            <MatTableRow Context="row">
                <td>@row.Name</td>
                <td>@Formatters.StringListToString(row.Inherits)</td>
            </MatTableRow>
        </MatTable>
        }
    </div>
    <h2>Add group in selected category</h2>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <ConfigurallWeb.Components.TextInput Name="NewGroup" PlaceHolder="New group name" @bind-Value="@GroupName" />
            </div>
            <ConfigurallWeb.Controls.CategoryGroup  CategoryOptions="@CategoryOptions" @bind-GroupWithCategory="@GroupWithCategory" />
        </div>
    </div>
    <footer>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    <MatButton Raised="true" @onclick="Save">Send</MatButton>
                </div>
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    <label>@InfoBarText</label>
                </div>
            </div>
        </div>
    </footer>
</EditForm>

@code {
    EditContext editContext = new EditContext(new List<string> { });

    [Parameter]
    public string InfoBarText { get; set; }

    #region Category

    private string CategoryName { get; set; }

    [Parameter]
    public string Category
    {
        get { return CategoryName; }
        set
        {
            CategoryName = value;
            _ = GetGroups(value);
        }
    }
    private async Task GetGroups(string categoryName)
    {
        GroupList = await ConfigGroup.Get(categoryName);
        StateHasChanged();
    }

    public IEnumerable<string> CategoryOptions { get; set; }

    private async Task LoadCategories()
    => CategoryOptions = await ConfigCon.GetCategories();

    #endregion

    #region Group

    public IEnumerable<GroupDTO> GroupList { get; set; }

    [Parameter]
    public string GroupName { get; set; }

    #endregion

    protected async override Task OnInitializedAsync()
    {
        await LoadCategories();
        editContext = new EditContext(CategoryOptions);
    }

    public string GroupWithCategory { get; set; }

    public async void Save()
    {
        var res = await ConfigGroup.Set(CategoryName, GroupName, $"{GroupWithCategory}");

        if (res)
        {
            InfoBarText = $"{DateTime.Now.ToString()} Data saved";
            await LoadCategories();
        }
        else
            InfoBarText = $"{DateTime.Now.ToString()} Error saving data";
    }
}