﻿@page "/"
@inject IJSRuntime JSRuntime
@using System.Linq
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using MatBlazor
@using ConfigurallWeb.Classes
@using ConfigurallWeb.Managers
@using ConfigurallWeb.Data
@using Configurall.Shared.DTOs
@using Configurall.Connector
@using ConfigGroup = Configurall.Connector.Group

<EditForm EditContext="@editContext">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <ConfigurallWeb.Components.Select Name="Categories" @bind-Value="@Category" Options="@CategoryOptions" />
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                <ConfigurallWeb.Components.Select Name="Group" @bind-Value="@Group" Options="@GroupOptions" />
            </div>
        </div>
    </div>
    @if ((editContext.Model as GroupEntityConfigMgr)?.Rows != null)
    {
        @foreach (var row in (editContext.Model as GroupEntityConfigMgr).Rows.Values)
        {
            <hr />
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
                        <label>@row.RowId</label>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                        <ConfigurallWeb.Components.Select Name="@row.EntitySelect.Name" @bind-Value="@row.EntitySelect.Value" Options="@row.EntitySelect.Options" />
                    </div>
                    <MatButton @onclick="(() => RemoveConfig(row.RowId, row.EntitySelect.Value))" Label="X"></MatButton>

                    @foreach (var element in row.EntitiesData.Values.Where(e => e.Visible).SelectMany(e => e.ComponentsData))
                    {
                        @switch (element.ElementType)
                        {
                            case "CheckBox":
                                {
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
                                        <ConfigurallWeb.Components.CheckBox Name="@element.Name" @bind-Value="@((element as CheckBoxData).Value)" />
                                    </div>
                                    break;
                                }
                            case "TextInput":
                                {
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
                                        <ConfigurallWeb.Components.TextInput Name="@element.Name" PlaceHolder="@((element as TextInputData).PlaceHolder)" @bind-Value="@((element as TextInputData).Value)" />
                                    </div>
                                    break;
                                }
                            case "Select":
                                {
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
                                        <ConfigurallWeb.Components.Select Name="@element.Name" @bind-Value="@((element as SelectData).Value)" Options="@((element as SelectData).Options)" />
                                    </div>
                                    break;
                                }
                            default:
                                {
                                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-1">
                                        Unknow control
                                    </div>
                                    break;
                                }
                        }
                    }

                </div>
            </div>
        }
    }
    @if ((editContext.Model as GroupEntityConfigMgr)?.Rows != null && !string.IsNullOrEmpty(GroupName))
    {
        <h2>Add rows</h2>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                    <ConfigurallWeb.Components.Select Name="New row Id" @bind-Value="@RowId" Options="@RowIdOptions" />
                </div>
                @if (!string.IsNullOrEmpty(RowId))
                {
                    <ConfigurallWeb.Controls.EntityNS EntityList="@EntityOptions" @bind-EntityNamespace="@EntityNS" @bind-Entity="@EntityName" />
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatButton Raised="true" @onclick="SaveNewRow">New row</MatButton>
                    </div>
                }
            </div>
        </div>
        <footer>
            <div class="mat-layout-grid">
                <div class="mat-layout-grid-inner">
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <MatButton Raised="true" @onclick="Save">Send</MatButton>
                    </div>
                    <div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
                        <label>@InfoBarText</label>
                    </div>
                </div>
            </div>
        </footer>
    }
</EditForm>

@code {

    #region Form context & Initialization

    EditContext editContext = new EditContext(new GroupEntityConfigMgr());
    [Parameter]
    public string InfoBarText { get; set; }

    IEnumerable<EntityDTO> EntityOptions = new EntityDTO[0] { };

    protected async override Task OnInitializedAsync()
    {
        CategoryOptions = await Config.GetCategories();

        EntityOptions = await Entity.GetAll();
    }
    #endregion

    #region Category

    private string CategoryName { get; set; }

    [Parameter]
    public IEnumerable<string> CategoryOptions { get; set; }

    [Parameter]
    public string Category
    {
        get { return CategoryName; }
        set
        {
            CategoryName = value;
            InvokeAsync(async () =>
            {
                GroupOptions = await ConfigGroup.GetNames(value);
                Group = string.Empty;
                StateHasChanged();
            });
        }
    }
    #endregion

    #region Groups
    private string GroupName { get; set; }

    [Parameter]
    public IEnumerable<string> GroupOptions { get; set; }

    [Parameter]
    public string Group
    {
        get { return GroupName; }
        set
        {
            GroupName = value;

            InvokeAsync(async () =>
            {
                await (editContext.Model as GroupEntityConfigMgr).Get(CategoryName, GroupName);

                RowIdOptions = await Config.GetParentGroupsRowIds(CategoryName, GroupName);

                StateHasChanged();
            });
        }
    }
    #endregion

    #region Row Id

    [Parameter]
    public IEnumerable<string> RowIdOptions { get; set; }

    [Parameter]
    public string RowId { get; set; }
    #endregion

    #region Entities

    [Parameter]
    public string EntityNS { get; set; }

    [Parameter]
    public string EntityName { get; set; }
    #endregion

    #region Events

    public async Task Save()
    {
        if (await (editContext.Model as GroupEntityConfigMgr).Save())
            InfoBarText = $"{DateTime.Now.ToString()} Data saved";
        else
            InfoBarText = $"{DateTime.Now.ToString()} Error saving data";
    }

    public async Task SaveNewRow()
    {
        if (string.IsNullOrEmpty(CategoryName) || string.IsNullOrEmpty(GroupName) || string.IsNullOrEmpty(RowId))
        {
            InfoBarText = $"{DateTime.Now.ToString()} Set category, group, entity and new row Id before adding row";
            return;
        }

        if (await Config.NewGroupEntityRowId(CategoryName, GroupName, EntityNS +"."+ EntityName, RowId))
        {
            InfoBarText = $"{DateTime.Now.ToString()} Group entity row added";
            await (editContext.Model as GroupEntityConfigMgr).Refresh();
        }
        else
            InfoBarText = $"{DateTime.Now.ToString()} Error adding row";
    }

    public async void RemoveConfig(string rowId, string entityValue)
    {
        if (!await JSRuntime.Confirm($"Please cofirm the '{entityValue}' deletion for property: {rowId}."))
            return;

        if (await (editContext.Model as GroupEntityConfigMgr).Remove(rowId, entityValue))
        {
            InfoBarText = $"{DateTime.Now.ToString()} Config removed";
            await (editContext.Model as GroupEntityConfigMgr).Refresh();
        }
        else
            InfoBarText = $"{DateTime.Now.ToString()} Error removing config data";
    }
    #endregion
}