﻿@using MatBlazor
@using ConfigGroup = Configurall.Connector.Group
  
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
    <ConfigurallWeb.Components.Select Name="Category to inherit" @bind-Value="@CategoryToInherit" Options="@CategoryOptions" />
</div>
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
    <ConfigurallWeb.Components.Select Name="Group to inherit" @bind-Value="@GroupToInherits" Options="@GroupOptions" />
</div>

@code {
    [Parameter]
    public IEnumerable<string> CategoryOptions { get; set; }

    private string GroupInherits { get; set; }

    [Parameter]
    public string GroupToInherits
    {
        get {
            return GroupInherits;
        }
        set
        {
            if (GroupInherits != value)
            {
                GroupInherits = value;
                if (GroupToInheritsChanged.HasDelegate)
                    GroupToInheritsChanged.InvokeAsync(value);

                if (GroupWithCategoryChanged.HasDelegate && !string.IsNullOrEmpty(CategoryInherits) && !string.IsNullOrEmpty(GroupInherits))
                    GroupWithCategoryChanged.InvokeAsync($"{CategoryInherits}:{GroupInherits}");
            }
        }
    }
    [Parameter]
    public EventCallback<string> GroupToInheritsChanged { get; set; }

    [Parameter]
    public string GroupWithCategory { get; set; }

    [Parameter]
    public EventCallback<string> GroupWithCategoryChanged { get; set; }

    private string CategoryInherits { get; set; }

    [Parameter]
    public string CategoryToInherit {
        get { return CategoryInherits; }
        set {
            CategoryInherits = value;
            _ = GetNewGroups(value);
        }
    }
    private async Task GetNewGroups(string categoryName)
    {
        GroupOptions = await ConfigGroup.GetNames(categoryName);
        StateHasChanged();
    }

    [Parameter]
    public IEnumerable<string> GroupOptions { get; set; }
}