﻿@using MatBlazor
@using Configurall.Shared.DTOs
@using ConfigEntity = Configurall.Connector.Entity

<div class="mat-layout-grid-cell mat-layout-grid-cell-span-3">
    <ConfigurallWeb.Components.SelectC Name="@EntityNSControlName" Options="@EntityNSOptions" @bind-Value="@EntityNamespace" />
</div>
<div class="mat-layout-grid-cell mat-layout-grid-cell-span-2">
    <ConfigurallWeb.Components.Select Name="@EntityControlName" Options="@EntityOptions" @bind-Value="@Entity" />
</div>

@code {
    IEnumerable<EntityDTO> EntityCompleteList { get; set; }
    IEnumerable<string> EntityOptions { get; set; }
    Dictionary<string, string> EntityNSOptions { get; set; }

    [Parameter]
    public string EntityNSControlName { get; set; } = "Entity namespace";

    [Parameter]
    public string EntityControlName { get; set; } = "Entity";

    [Parameter]
    public IEnumerable<EntityDTO> EntityList
    {
        get
        {
            return EntityCompleteList;
        }
        set
        {
            EntityCompleteList = value;

            EntityNSOptions = EntityList
            .Select(e => e.Name.Substring(0, e.Name.LastIndexOf(".")))
            .Distinct()
            .ToDictionary(e => e, v => v);
        }
    }

    private string EntityNs { get; set; }

    [Parameter]
    public string EntityNamespace
    {
        get { return EntityNs; }
        set
        {
            if (EntityNs != value)
            {
                Entity = string.Empty;
                EntityNs = value;

                EntityOptions = EntityCompleteList
                    .Where(e => e.Name.Substring(0, e.Name.LastIndexOf(".")) == value)
                    .Select(e=>e.Name.Substring(e.Name.LastIndexOf(".")+1));

                if (EntityNamespaceChanged.HasDelegate)
                    EntityNamespaceChanged.InvokeAsync(value);
            }
        }
    }
    [Parameter]
    public EventCallback<string> EntityNamespaceChanged { get; set; }

    string EntitySelected { get; set; }

    [Parameter]
    public string Entity
    {
        get { return EntitySelected; }
        set
        {
            if (EntitySelected != value)
            {
                EntitySelected = value;
                if (EntityChanged.HasDelegate)
                    EntityChanged.InvokeAsync(value);
            }
        }
    }

    [Parameter]
    public EventCallback<string> EntityChanged { get; set; }
}