﻿@using MatBlazor

<MatCheckbox @bind-Value="@Value" Label="@Name"></MatCheckbox>

@code {
    [Parameter]
    public string Name { get; set; }

    private bool val;

    [Parameter]
    public bool Value
    {
        get { return val; }
        set
        {
            if (val != value)
            {
                val = value;
                if (ValueChanged.HasDelegate)
                {
                    ValueChanged.InvokeAsync(value);
                }
            }
        }
    } 

    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }
}