﻿@using MatBlazor
@using ConfigurallWeb.Data

<MatSelect Label="@Name" Outlined="true" @bind-Value="Value">
    <MatOptionString></MatOptionString>
    @if (Options != null)
        foreach (var opt in Options)
        {
            <MatOptionString Value="@opt">@opt</MatOptionString>
        }
</MatSelect>

@code {
    public SelectData selectData = new SelectData();

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public IEnumerable<string> Options { get; set; }

    private string val;

    [Parameter]
    public string Value
    {
        get { return val; }
        set
        {
            if (val != value)
            {
                val = value;
                if (ValueChanged.HasDelegate)
                {
                    ValueChanged.InvokeAsync(value);
                }
            }
        }
    }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

}