﻿@using MatBlazor

<MatTextField @bind-Value="@Value" Label="@Name" Outlined="true"></MatTextField>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string PlaceHolder { get; set; }

    private string val;

    [Parameter]
    public string Value
    {
        get { return val; }
        set
        {
            if (val != value)
            {
                val = value;
                if (ValueChanged.HasDelegate)
                {
                    ValueChanged.InvokeAsync(value);
                }
            }
        }
    }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
}