﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ConfigurallWeb</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Config
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="oi oi-plus" aria-hidden="true"></span> Categories
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="groups">
                <span class="oi oi-plus" aria-hidden="true"></span> Groups
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="entities">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Entities
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="entitycatalogs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> E. catalogs
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
